.layout {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  padding: 32px;
}
.header {
  background: unset;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addBtn {
  width: 200px;
  font-size: larger;
}

.addBtnLink {
  margin-bottom: 16px;
}

.loadMoreContainer {
  text-align: center;
  padding-top: 16px;
}
